.Container{
    width: 70%;
    height: 400px;
    margin: auto;
    background-color: #ebedee;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    .toplist{
    width: 100%;
    padding-bottom: 20px;
    height: fit-content;
    display: flex;
    row-gap: 10px;
    justify-content: flex-start;
    flex-wrap:wrap;
    border-bottom: 4px solid palevioletred;
    }
}